@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

*{
    box-sizing: border-box;
}
:root{
    --primary: #f2c94c;
    --black: #333333;
    --width-break:600px;
}
body{
    margin: 0;
    font-family: 'Kalam', cursive;
    color: var(--black);
}
nav{
    
    background-color: var(--primary);
    text-align: center;
}
.header{
    font-size: 2rem;
    padding: 1rem;
}
main{
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
    
}
textarea{
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
}
.button{
    background-color: var(--primary);
    border: none;
    border-radius: 15px;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Kalam',cursive;
    font-size: large;
    box-shadow: 0 9px #999; 
    cursor: pointer;
}
.button:active{
    background-color:#f2c94c;
    box-shadow: 0 5px #666;
    transform: translate(4px);   
}
.button:hover{background-color: #f2c94c;}
#translate-output{
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow: scroll;
    border: 1px solid var(--black);
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary);
    text-align: center;
}
footer p {
    /* max-width: var(--width-break); */
    margin:'auto';
}
.footer-styling{
    font-size: x-large;
}